# Project Configuration
PROJECT_NAME="Placement Pro"
API_V1_STR="/api"

# AI & External Services
GEMINI_API_KEY=AIzaSyARFMhtEnYu9nOBtj99ZWf2tbppYwdZ6Co
# Database (Supabase)
SUPABASE_URL=https://vanzttbsdqbwprqvqgfu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhbnp0dGJzZHFid3BycXZxZ2Z1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1Nzg2MjYsImV4cCI6MjA4NzE1NDYyNn0.sm9wJqGmvFc7QCtOEic2hpGm4qsl1VukwtPusAr11TA

# Security
JWT_SECRET=ZYya6j9/JL+FUruO6SIwhMVzh4fF4JpBpWkAjyeCmMox1cQ8BVycxlK/AskTK73RPWVguA/y1YWBQXORjntxZA==
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=56000