fastapi
uvicorn[standard]
supabase
python-multipart
pydantic[email]>=2.0.0
pydantic-settings
python-dotenv
fpdf2
websockets
pymupdf
python-jose[cryptography]
passlib[bcrypt]
google-generativeai
email-validator