fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
python-dotenv
google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-huggingface
sentence-transformers
supabase
PyMuPDF
pdfplumber
httpx
vecs